/**************
## Container ##
**************/

$container-bg: #fff;
$container-border-style: solid;
$container-border-width: 1px;
$container-border-color: darken(#374c5d, 5%);

/************
## Trigger ##
************/

$trigger-bg: #374c5d;