/**************
## Container ##
**************/

.pure-container {
	position: relative;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

/************
## Toggler ##
************/

.pure-toggle {
    left: -9999px;
    position: absolute;
    top: -9999px;
    &:focus ~ .pure-toggle-label {
    	border-color: darken($toggler-color, 20%);
    	color: darken($toggler-color, 20%);
    }
}

.pure-toggle-label {
	cursor: pointer;
    display: block;
    position: fixed;
    top: 15px;
	left: 15px;
    z-index: 999;
    color: $toggler-color;
    font-size: rem-calc(70);
    width: 56px;
	height: 56px;
    line-height: 44px;
    text-align: center;
    font-weight: 300;
    transition: all 400ms ease-in-out;  
    border: 2px solid $toggler-color;
    border-radius: 50%;
    &:hover {
    	border-color: darken($toggler-color, 20%);
    	color: darken($toggler-color, 20%);
    }
}

[data-position='right'] .pure-toggle-label {
	left: auto;
	right: 15px;
}

[data-position='top'] .pure-toggle-label {
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.pure-toggle:checked ~ .pure-toggle-label {
	-webkit-transform: translate3d(220px, 0, 0) rotate(-45deg);
	transform: translate3d(220px, 0, 0) rotate(-45deg);
	border-color: $toggler-checked-color;
	color: $toggler-checked-color;
}

[data-position='right'] .pure-toggle:checked ~ .pure-toggle-label {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

[data-position='top'] .pure-toggle:checked ~ .pure-toggle-label {
	-webkit-transform: rotate(-45deg) translate3d(-20px, -20px, 0);
	transform: rotate(-45deg) translate3d(-20px, -20px, 0);
}

/***********
## Drawer ##
***********/

.pure-drawer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: $drawer-width;
	height: 100%;
	background-color: $drawer-bgcolor;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

[data-position='right'] .pure-drawer {
	left: auto;
	right: 0;
}

[data-position='top'] .pure-drawer {
	height: $drawer-height;
	width: 100%;
}

/*********************
## Pusher Container ##
*********************/

.pure-pusher-container {
	display: table;
	width: 100%;
	overflow: hidden; 
	height: inherit; 
}

/***********
## Pusher ##
***********/

.pure-pusher {
	display: table-cell;
	position: relative;
	left: 0;
	z-index: 2;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	background-color: $pusher-bgcolor;
}

/*******************
## Pusher Overlay ##
*******************/

.pure-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	background-color: $overlay-bgcolor;
	opacity: 0;
	-webkit-transition: opacity 0.5s 0.3s;
	transition: opacity 0.5s 0.3s;
}

[data-position='left'] .pure-toggle:checked ~ .pure-pusher-container .pure-overlay {
	left: $drawer-width;
}

[data-position='right'] .pure-toggle:checked ~ .pure-pusher-container .pure-overlay {
	right: $drawer-width;
}

[data-position='top'] .pure-toggle:checked ~ .pure-pusher-container .pure-overlay {
	top: $drawer-height;
}

.pure-toggle:checked ~ .pure-pusher-container .pure-overlay {
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 2;
	-webkit-transition: opacity 0.5s 0.3s;
	transition: opacity 0.5s 0.3s;
}



