/************
## Toggler ##
************/

$toggler-color: #d95843;
$toggler-checked-color: #fff;

/***********
## Drawer ##
***********/

$drawer-width: 300px;
$drawer-height: 90px;
$drawer-bgcolor: #d95843;

/***********
## Pusher ##
***********/

$pusher-bgcolor: #fff;

/*******************
## Pusher Overlay ##
*******************/

$overlay-bgcolor: rgba(0,0,0,0.4);