<nav class="pure-drawer">
    <div class="row">
        <div class="large-12 columns">
            <ul class="nav-primary">
                <li><a href="/">Home</a></li>
                <li><a href="/documentation">Documentation</a></li>
                <li><a href="/features">Planned Features</a></li>
            </ul> 
        </div>
    </div>
</nav> 