/*******************************
## Effect 1 - Slide in on top ##
*******************************/

/* DRAWER */

[data-effect='pure-effect-1'] .pure-drawer {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
    z-index: 3;	
}

[data-position='right'][data-effect='pure-effect-1'] .pure-drawer {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);	
}

[data-position='top'][data-effect='pure-effect-1'] .pure-drawer {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);	
}

[data-effect='pure-effect-1'] .pure-toggle:checked ~ .pure-drawer {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

