/**********************
## Effect 2 - Reveal ##
**********************/

/* PUSHER */

[data-effect='pure-effect-2'] .pure-toggle:checked ~ .pure-pusher-container .pure-pusher {
	-webkit-transform: translate3d($drawer-width-small, 0, 0);
	transform: translate3d($drawer-width-small, 0, 0);
    @media #{$medium-up} {
		-webkit-transform: translate3d($drawer-width-medium, 0, 0);
		transform: translate3d($drawer-width-medium, 0, 0);
	}
	@media #{$large-up} {
		-webkit-transform: translate3d($drawer-width-large, 0, 0);
		transform: translate3d($drawer-width-large, 0, 0);
	}
}

[data-position='right'][data-effect='pure-effect-2'] .pure-toggle:checked ~ .pure-pusher-container .pure-pusher {
	-webkit-transform: translate3d(-$drawer-width-small, 0, 0);
	transform: translate3d(-$drawer-width-small, 0, 0);
	@media #{$medium-up} {
		-webkit-transform: translate3d(-$drawer-width-medium, 0, 0);
		transform: translate3d(-$drawer-width-medium, 0, 0);
	}
	@media #{$large-up} {
		-webkit-transform: translate3d(-$drawer-width-large, 0, 0);
		transform: translate3d(-$drawer-width-large, 0, 0);
	}
}

[data-position='top'][data-effect='pure-effect-2'] .pure-toggle:checked ~ .pure-pusher-container .pure-pusher {
	-webkit-transform: translate3d(0, $drawer-height-small, 0);
	transform: translate3d(0, $drawer-height-small, 0);
    @media #{$medium-up} {
		-webkit-transform: translate3d(0, $drawer-height-medium, 0);
		transform: translate3d(0, $drawer-height-medium, 0);
	}
	@media #{$large-up} {
		-webkit-transform: translate3d(0, $drawer-height-large, 0);
		transform: translate3d(0, $drawer-height-large, 0);
	}
}

