/**************************
## Effect 8 - Fall Down ##
**************************/

/* DRAWER */

[data-effect='pure-effect-8'] .pure-drawer {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

[data-position='top'][data-effect='pure-effect-8'] .pure-drawer {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

[data-effect='pure-effect-8'] .pure-toggle:checked ~ .pure-drawer {
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* PUSHER */

[data-effect='pure-effect-8'] .pure-toggle:checked ~ .pure-pusher-container .pure-pusher {
	-webkit-transform: translate3d($drawer-width-small, 0, 0);
	transform: translate3d($drawer-width-small, 0, 0);
    @media #{$medium-up} {
		-webkit-transform: translate3d($drawer-width-medium, 0, 0);
		transform: translate3d($drawer-width-medium, 0, 0);
	}
	@media #{$large-up} {
		-webkit-transform: translate3d($drawer-width-large, 0, 0);
		transform: translate3d($drawer-width-large, 0, 0);
	}
}

[data-position='right'][data-effect='pure-effect-8'] .pure-toggle:checked ~ .pure-pusher-container .pure-pusher {
	-webkit-transform: translate3d(-$drawer-width-small, 0, 0);
	transform: translate3d(-$drawer-width-small, 0, 0);
	@media #{$medium-up} {
		-webkit-transform: translate3d(-$drawer-width-medium, 0, 0);
		transform: translate3d(-$drawer-width-medium, 0, 0);
	}
	@media #{$large-up} {
		-webkit-transform: translate3d(-$drawer-width-large, 0, 0);
		transform: translate3d(-$drawer-width-large, 0, 0);
	}
}

[data-position='top'][data-effect='pure-effect-8'] .pure-toggle:checked ~ .pure-pusher-container .pure-pusher {
	-webkit-transform: translate3d(0, $drawer-height-small, 0);
	transform: translate3d(0, $drawer-height-small, 0);
	@media #{$medium-up} {
		-webkit-transform: translate3d(0, $drawer-height-medium, 0);
		transform: translate3d(0, $drawer-height-medium, 0);
	}
	@media #{$large-up} {
		-webkit-transform: translate3d(0, $drawer-height-large, 0);
		transform: translate3d(0, $drawer-height-large, 0);
	}
}

/* Fallback for older browsers */

.no-csstransforms3d {
	[data-effect='pure-effect-8'] .pure-toggle:checked ~ .pure-pusher-container .pure-pusher {
		left: $drawer-width-small;
		@media #{$medium-up} { left: $drawer-width-medium; }
		@media #{$large-up} { left: $drawer-width-large; }
	}
	[data-position='right'][data-effect='pure-effect-8'] .pure-toggle:checked ~ .pure-pusher-container .pure-pusher {
		left: -$drawer-width-small;
		@media #{$medium-up} { left: -$drawer-width-medium; }
		@media #{$large-up} { left: -$drawer-width-large; }
	}
	[data-position='top'][data-effect='pure-effect-8'] .pure-toggle:checked ~ .pure-pusher-container .pure-pusher {
		top: $drawer-height-small;
		@media #{$medium-up} { top: $drawer-height-medium; }
		@media #{$large-up} { top: $drawer-height-large; }
	}
}