/**********************
## Effect 2 - Reveal ##
**********************/

/* PUSHER */

[data-effect='drawer-effect-2'] .nav-drawer-toggle:checked ~ .nav-drawer-pusher-container .nav-drawer-pusher {
	-webkit-transform: translate3d($drawer-width, 0, 0);
	transform: translate3d($drawer-width, 0, 0);
}

[data-position='right'][data-effect='drawer-effect-2'] .nav-drawer-toggle:checked ~ .nav-drawer-pusher-container .nav-drawer-pusher {
	-webkit-transform: translate3d(-$drawer-width, 0, 0);
	transform: translate3d(-$drawer-width, 0, 0);
}

[data-position='top'][data-effect='drawer-effect-2'] .nav-drawer-toggle:checked ~ .nav-drawer-pusher-container .nav-drawer-pusher {
	-webkit-transform: translate3d(0, $drawer-height, 0);
	transform: translate3d(0, $drawer-height, 0);
}

/* Fallback for older browsers */

.no-csstransforms3d {
	[data-effect='drawer-effect-2'] .nav-drawer-toggle:checked ~ .nav-drawer-pusher-container .nav-drawer-pusher {
		left: $drawer-width;
	}
	[data-position='right'][data-effect='drawer-effect-2'] .nav-drawer-toggle:checked ~ .nav-drawer-pusher-container .nav-drawer-pusher {
		left: -$drawer-width;
	}
	[data-position='top'][data-effect='drawer-effect-2'] .nav-drawer-toggle:checked ~ .nav-drawer-pusher-container .nav-drawer-pusher {
		top: $drawer-height;
	}
}