{% block content %}
	<div class="section section-first row">
		<div class="large-12 columns">
			<h1 class="title">Planned Features</h1>
			<ol class="nav-features">
				<li>Javascript enhanced version</li>
				<li>More cool effects</li>
				<li>Multiple Drawers (Released version 0.8)</li>
			</ol>
			<p>If you have any cool ideas for new features please add an issue at <a href="https://github.com/mac81/pure-drawer/issues">Github</a></p>
		</div>
	</div>  
{% endblock %}

