/**************
## Container ##
**************/

.pure-container {
	position: relative;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

/************
## Toggler ##
************/

.pure-toggle {
    left: -9999px;
    position: absolute;
    top: -9999px;
    &:focus ~ .pure-toggle-label {
    	border-color: $toggler-focus-color;
    	color: $toggler-focus-color;
    }
}

.pure-toggle-label {
	cursor: pointer;
    display: block;
    position: fixed;
    top: 15px;
    z-index: 99;
    color: $toggler-color;
    font-size: rem-calc(70);
    width: 56px;
	height: 56px;
    line-height: 44px;
    text-align: center;
    font-weight: 300;
    transition: all 400ms ease-in-out;  
    border: 2px solid $toggler-color;
    border-radius: 50%;
    -webkit-user-select: none; 
	-moz-user-select: none;     
	-ms-user-select: none;     
	-o-user-select: none;
	user-select: none; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Removes grey background on link taps in ios
    &:hover {
    	border-color: $toggler-focus-color;
    	color: $toggler-focus-color;
    }
    &:active {
    	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}

.pure-toggle-label[data-toggle-label='left'] {
	left: 15px;
	right: auto; // Not needed?
}

.pure-toggle-label[data-toggle-label='right'] {
	right: 56 / 2 + px;
	left: auto;
}

.pure-toggle-label[data-toggle-label='top'] {
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label:not([data-toggle-label='left']),
.pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label:not([data-toggle-label='right']),
.pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label:not([data-toggle-label='top']) {
	opacity: 0;
	z-index: -1;
}

.pure-toggle[data-toggle='left']:checked ~ .pure-toggle-label[data-toggle-label='left'] {
	-webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
	transform: translate3d(0, 0, 0) rotate(-45deg);
	border-color: $toggler-checked-color;
	color: $toggler-checked-color;
}

.pure-toggle[data-toggle='right']:checked ~ .pure-toggle-label[data-toggle-label='right'] {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.pure-toggle[data-toggle='top']:checked ~ .pure-toggle-label[data-toggle-label='top'] {
	-webkit-transform: rotate(-45deg) translate3d(-20px, -20px, 0);
	transform: rotate(-45deg) translate3d(-20px, -20px, 0);
}

/***********
## Drawer ##
***********/

.pure-drawer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	background-color: $drawer-bgcolor;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	visibility: hidden;
	width: $drawer-width-small;
	@media #{$medium-up} { width: $drawer-width-medium; }
	@media #{$large-up} { width: $drawer-width-large; }
}

.pure-drawer[data-position='right']  {
	left: auto;
	right: 0;
}

.pure-drawer[data-position='top'] {
	height: $drawer-height-small;
	width: 100%;
	@media #{$medium-up} { height: $drawer-height-medium; }
	@media #{$large-up} { height: $drawer-height-large; }
}

/*********************
## Pusher Container ##
*********************/

.pure-pusher-container {
	position: relative;
	height: 100%;
	overflow: hidden;
}

/***********
## Pusher ##
***********/

.pure-pusher {
	position: relative;
	height: 100%;
	overflow-y: scroll;
	left: 0;
	z-index: 2;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	background-color: $pusher-bgcolor;
}

/*******************
## Pusher Overlay ##
*******************/

.pure-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	opacity: 0;
	background-color: $overlay-bgcolor;
	-webkit-transition: opacity 0.5s 0.3s;
	transition: opacity 0.5s 0.3s;
}

.pure-toggle[data-toggle='left']:checked ~ .pure-pusher-container .pure-overlay[data-overlay='left'] {
	left: $drawer-width-small;
	@media #{$medium-up} { left: $drawer-width-medium; }
	@media #{$large-up} { left: $drawer-width-large; }
}

.pure-toggle[data-toggle='right']:checked ~ .pure-pusher-container .pure-overlay[data-overlay='right'] {
	right: $drawer-width-small;
	@media #{$medium-up} { right: $drawer-width-medium; }
	@media #{$large-up} { right: $drawer-width-large; }
}

.pure-toggle[data-toggle='top']:checked ~ .pure-pusher-container .pure-overlay[data-overlay='top'] {
	top: $drawer-height-small;
	@media #{$medium-up} { top: $drawer-height-medium; }
	@media #{$large-up} { top: $drawer-height-large; }
}

.pure-toggle[data-toggle='left']:checked ~ .pure-pusher-container .pure-overlay[data-overlay='left'],
.pure-toggle[data-toggle='right']:checked ~ .pure-pusher-container .pure-overlay[data-overlay='right'],
.pure-toggle[data-toggle='top']:checked ~ .pure-pusher-container .pure-overlay[data-overlay='top'] {
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 2;
	-webkit-transition: opacity 0.5s 0.3s;
	transition: opacity 0.5s 0.3s;
}

/********************************
## Fallback for older browsers ##
********************************/

.no-csstransforms3d {
	.pure-toggle[data-toggle='left']:checked ~ .pure-pusher-container .pure-pusher {
		left: $drawer-width-small;
		@media #{$medium-up} { left: $drawer-width-medium; }
		@media #{$large-up} { left: $drawer-width-large; }
	}
	.pure-toggle[data-toggle='right']:checked ~ .pure-pusher-container .pure-pusher {
		left: -$drawer-width-small;
		@media #{$medium-up} { left: -$drawer-width-medium; }
		@media #{$large-up} { left: -$drawer-width-large; }
	}
	.pure-toggle[data-toggle='top']:checked ~ .pure-pusher-container .pure-pusher {
		top: $drawer-height-small;
		@media #{$medium-up} { top: $drawer-height-medium; }
		@media #{$large-up} { top: $drawer-height-large; }
	}
}